alias update='source ~/.zshrc'
alias config='vim ~/.zshrc'
alias al='vim ~/.aliases'
alias uu='sudo apt update && sudo apt -y upgrade'
alias path='echo $PATH'
alias python=python3
alias vim=nvim
alias code=code-insiders
