alias update='source ~/.zshrc'
alias config='vim ~/.zshrc'
alias al='vim ~/.aliases'
alias uu='sudo apt update && sudo apt -y upgrade'
alias path="echo $PATH | tr : '\n'"
alias vim=nvim
alias df='df -h'
alias tor=torbrowser-launcher
alias ff=ffsend
alias ssh='kitty +kitten ssh'
alias python=python3
alias ls='ls --color -h --group-directories-first'
alias headon='bluetoothctl connect E0:9D:FA:BA:CE:0B'
alias headoff='bluetoothctl disconnect'
alias night='xrandr --output eDP-1 --brightness 0.3'
alias day='xrandr --output eDP-1 --brightness 1'
alias xprop='xprop | grep WM_CLASS'
alias mux=tmuxinator
